body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
/*font-family: 'Roboto', sans-serif;  titulos*/
/*
colores
#2A2E75;
#1d24ab azul zavala
#DF6209; naranja claro
#CB4717; naranja zzavala
#011931; azul oscuro
*/
}


@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,regular,500,600,700,900);
html {
	overflow-x: hidden;
}
img {
	width: 100% auto;
}

h1.blanco {
	font-size: 36px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 36px;
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 46px;
}



.cabecera {
	background: #2A2E75;
	height: 39px;
	text-align: right;
	padding-top: 5px;
}

.iconos-cabecera {
 margin: 0 5px ;

}
a {
	color: #1d24ab;
}

/*menú responsive*/
#Barra-Navegacion header{
	width: 100%;
}
#Barra-Navegacion #btn-menu{
	display: none;
}

#Barra-Navegacion label{
	display: none;
	width: 80px;
	height: 50px;
	padding: 10px;
	font-size: 20px;
	margin: 0;
	position: relative;
}



/**/
a.nav-link {
	padding: 20px 20px;

}
a.nav-link:hover ,a.nav-link:focus {
	background: #DF6209;
	color: white;
	padding: 20px 20px;
}

.background {
	background-image: url("../images/2.jpg");
	background-size: cover;
	padding: 200px 0;
	margin: 0;
}

#nosotros {
	background-color: #DF6209;
	padding: 15px 0;
	color: white;
}

#intro {
	background: rgba(34, 34, 34, .6) !important;
	z-index: auto !important;

	text-align: center;
}
 .cotizar {
 	background: rgba(42, 46, 117, .6) !important;

 }
 .blanco {
 	color: white;
 	margin: 20px 0 20px 0;
 }

 .zavala-form{
 	display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
.container {
	position: relative;
}
 .image {
 	text-align: left;
 	justify-content: left;
    padding-top: 60px;
 }

 .center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    text-align: center;
    font-size: 18px;
}



.titulo {
	margin: 70px 0 35px 0;
	font-family: 'Raleway', sans-serif;
}
.titulo2 {
	padding:  70px 0;
	font-family: 'Raleway', sans-serif;
	background: #011931;
	color: white;
}

.margen {
	margin: 35px 0 70px 0;
}
.azul-fuerte {
	background-color: #011931;
	padding: 0 0 70px 0;
}
/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: white;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status, .status-mes {
	background-image: url(../images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	left: 45%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 40%;
	width: 400px;
}


.status-mes h4 {
	color: #2A2E75;
	margin-top: 200px;
}

/*----------Servicios-----------*/
.servicios-margen {
	margin: 20px 0;
}
.azul {
	color: #2a2e75;
}

/*-------------GRUAS------------- Circular Content Carousel Style*/

.btn-gruas {
background: transparent  ;
color: white;
border:1px solid #DF6209;
border-radius: 30px;
padding: 10px 20px 5px 20px;
margin: 10px 40px 10px -20px;
width: 180px;

}
button.active {
	background: #DF6209;
}
.btn-gruas:hover {
background: #DF6209;
}
.btn-gruas:focus {
	outline: none;
}
.btn-enviar {
background: #DF6209;
color: white;
border:1px solid #DF6209;
border-radius: 30px;
padding: 5px 20px;
margin: 0 15px 40px 0;
width: 120px;
}
.btn-enviar:hover {
background: transparent;
border:1px solid #DF6209;
color: #011931;
}
.btn-enviar:hover, .btn-enviar2:hover , .btn-contacto:hover {
	outline: none;
}
.btn-enviar2 {
	background: #DF6209;
	color: white;
	border:1px solid #DF6209;
	border-radius: 30px;
	padding: 5px 20px;
	margin: 0 15px 40px 0;
	width: 120px;
	}

.btn-enviar2:hover {
	background: transparent;
	border:1px solid #DF6209;
	color: white;
	}
.btn-enviar:hover {
	outline: none;
}
li, a , button.btn-gruas {
 list-style: none;
}


.naranja {
	background-color: #DF6209;
	color: white;
	padding: 15px;
	margin-left: -10px;
}
.orange {
	color:  #DF6209;
}
.orange2 {
	color: #CB4717;
}
.blue {
	color: #1d24ab;
}

/*.owl-item {
	background: white;
	margin: 0 10px ;

}*/
 .item {
	 background-color: white;
	 height: 380px;
 }

.gruas-description {
 padding: 20px 20px 0 20px;
 
}


.footer {
	color: #DF6209;
}

.padding {
	padding: 50px 0;
}
.footer-color {
	color: #7B6569;
}

a.footer-link {
	color: #7B6569;
	margin-right: 15px;
}
a.footer-link:hover {
	color: #DF6209;
	text-decoration: none;
}
span.footer-link {
	padding-left: 10px;
	color: #7B6569
}


/* -------------------------- auxilio ---------------*/

.btn-contacto {
	background-color: #DF6209;
	border-radius: 27px;
	border-style: none;
	color: white;
	width: 150px;
	height: 50px;
	margin-top: 80px;
}

.btn-contacto:hover {
	background: transparent;
	border:1px solid #DF6209;
	color: #011931;
}
.auxilio-vial {
	margin-top: 36px;
}
.loquesea {
	width: 100%;
}

.logotipo-movil {
	padding: 20px 0 10px 0;
	position: relative;
	left: 150px;
}

a.contacto {
	text-decoration: none;
}
 a.contacto:hover {
	 color: #CB4717;
 }



/*************************************************************/
/* -------------------------- Media -------------------------*/
/*************************************************************/

@media screen and (max-width:992px){

	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 24px;
	}
	h4 {
		font-size: 18px;
	}
	h5	 {
		font-size: 20px;
	}
	p {
		font-size: 15px;
	}
	#Barra-Navegacion label{
		display: block;
		position: absolute;
		top: 10px;
		left: 15px;
	}
	span.rotate.blanco {
		font-size: 24px;
	}

	a.nav-link:hover {
    padding: 20px 20px;
    color: #fff;
		background: #e24307;
}
	#Barra-Navegacion .menu-responsive{
		position: absolute;
		background: #011931;
		width: 50%;
		margin-left: -70%;
		transition: all 0.5s;
		z-index: 100;
	}

	#Barra-Navegacion .menu-responsive{
		border-top: 1px solid #fff;
	}

	#Barra-Navegacion nav ul{
		flex-direction: column;
	}

	#Barra-Navegacion #btn-menu:checked ~ .menu-responsive{
		margin: 0;
	}

	#Barra-Navegacion nav ul li{
		text-align: left;
	}

	#Barra-Navegacion img{
		display: block;
		margin: auto;

	}
	.logotipo-movil {
		padding: 6px 0 10px 0;
		position: relative;
		left: 150px;
	}

	a.nav-link {
		padding: 20px 20px;
		color: #fff;
	}
}

@media screen and (max-width:768px){
	.btn-gruas {
	    background: transparent;
	    color: white;
	    border: 1px solid #DF6209;
	    border-radius: 30px;
	    padding: 10px  ;
	    margin: 10px 40px 10px -20px;
	     width: 150px;
	}
}

@media screen and (max-width:600px){
	#Barra-Navegacion label{
		display: block;
		position: absolute;
		top: 10px;
		left: 15px;
	}

	#Barra-Navegacion .menu-responsive{
		position: absolute;
		background: #000;
		width: 70%;
		margin-left: -75%;
		transition: all 0.5s;
		z-index: 100;
	}

	#Barra-Navegacion .menu-responsive{
		border-top: 1px solid #fff;
	}

	#Barra-Navegacion nav ul{
		flex-direction: column;
	}

	#Barra-Navegacion #btn-menu:checked ~ .menu-responsive{
		margin: 0;
	}

	#Barra-Navegacion nav ul li{
		text-align: left;
	}

	#Barra-Navegacion img{
		display: block;
		margin: auto;

	}

	a.nav-link {
		padding: 20px 20px;
		color: #fff;
	}

}


@media screen and (max-width: 600px) {
	.margen-movil {
		margin-top: 50px ;

	}
	h5 {
		font-size: 16px;
	}
}

@media screen and (max-width:480px){
	#Barra-Navegacion nav ul li{
		text-align: center;
	}

	h1 {
		font-size: 26px;
	}

	.logotipo-movil {
		left:40px;
	}

	#Barra-Navegacion label {
		display: block;
		position: absolute;
		top: 10px;
		left: 5px;
	}

	#Barra-Navegacion .menu-responsive {
		position: absolute;
		background: #011931;
		width: 70%;
		margin-left: -75%;
		transition: all 0.5s;
		z-index: 100;
	}
}

.tabs .activo{
	background: #DF6209;
}